*~
ServerSide/Hunspell/hunspell-1.3.3
ServerSide/SQUOIA/foma/apply.o
ServerSide/SQUOIA/foma/cgflookup.o
ServerSide/SQUOIA/foma/coaccessible.o
ServerSide/SQUOIA/foma/constructions.o
ServerSide/SQUOIA/foma/define.o
ServerSide/SQUOIA/foma/determinize.o
ServerSide/SQUOIA/foma/dynarray.o
ServerSide/SQUOIA/foma/extract.o
ServerSide/SQUOIA/foma/flags.o
ServerSide/SQUOIA/foma/flookup.o
ServerSide/SQUOIA/foma/foma.o
ServerSide/SQUOIA/foma/fomaserver
ServerSide/SQUOIA/foma/iface.o
ServerSide/SQUOIA/foma/int_stack.o
ServerSide/SQUOIA/foma/io.o
ServerSide/SQUOIA/foma/lex.cmatrix.c
ServerSide/SQUOIA/foma/lex.cmatrix.o
ServerSide/SQUOIA/foma/lex.interface.c
ServerSide/SQUOIA/foma/lex.interface.o
ServerSide/SQUOIA/foma/lex.lexc.c
ServerSide/SQUOIA/foma/lex.lexc.o
ServerSide/SQUOIA/foma/lex.yy.c
ServerSide/SQUOIA/foma/lex.yy.o
ServerSide/SQUOIA/foma/lexcread.o
ServerSide/SQUOIA/foma/libfoma.a
ServerSide/SQUOIA/foma/libfoma.so.0.9.17
ServerSide/SQUOIA/foma/mem.o
ServerSide/SQUOIA/foma/minimize.o
ServerSide/SQUOIA/foma/regex.output
ServerSide/SQUOIA/foma/regex.tab.c
ServerSide/SQUOIA/foma/regex.tab.h
ServerSide/SQUOIA/foma/regex.tab.o
ServerSide/SQUOIA/foma/reverse.o
ServerSide/SQUOIA/foma/rewrite.o
ServerSide/SQUOIA/foma/sigma.o
ServerSide/SQUOIA/foma/spelling.o
ServerSide/SQUOIA/foma/stack.o
ServerSide/SQUOIA/foma/stringhash.o
ServerSide/SQUOIA/foma/structures.o
ServerSide/SQUOIA/foma/suggestions
ServerSide/SQUOIA/foma/tcpClient
ServerSide/SQUOIA/foma/tcpServer
ServerSide/SQUOIA/foma/topsort.o
ServerSide/SQUOIA/foma/trie.o
ServerSide/SQUOIA/foma/utf8.o
ServerSide/SQUOIA/spellcheckCuzco_foma/
ServerSide/SQUOIA/spellcheckUnificado_foma/
ServerSide/SQUOIA/tcpServer/spellChecker/
